
.sixteen-nine {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.sixteen-nine > .content {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
